<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
</head>
<body>

<div th:fragment="forumModerationControl(forum)">

    <button class="btn btn-primary" data-toggle="collapse" data-target="#newForum"
            th:if="${forum.isModerator()}">
        <i class="fa fa-plus"></i> New forum
    </button>

    <button class="btn btn-danger"
            th:onclick="'forumService.remove(' + ${forum.id} + ')'"
            th:if="${forum.isModerator()}">
        <i class="fa fa-remove"></i> Remove forum
    </button>

    <a class="btn btn-warning"
       sec:authorize="hasRole('ROLE_ADMIN')"
       th:href="@{~/forum/{id}/moderators(id=${forum.id})}">
        <i class="fa fa-users"></i> Set moderators
    </a>

    <a class="btn btn-success"
       th:if="${forum.isModerator()}"
       th:href="@{~/forum/{id}/articles(id=${forum.id})}">
        <i class="fa fa-newspaper-o"></i> Set article stream
    </a>

    <div th:replace="fragments/newForum :: newForum(${forum})"></div>
    <hr/>
</div>

</body>
</html>