<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<div th:fragment="panel(forum)" class="panel panel-default">
    <div class="panel-heading"><span th:text="${forum.title}">Test forum</span></div>
    <div class="panel-body">
        <ul>
            <li th:each="f : ${forum.forums}" ><a th:href="@{~/forum/{id}(id=${f.id})}" th:text="${f.title}">Test subforum</a></li>
        </ul>
    </div>
</div>

<div th:fragment="threads(threads)" class="panel panel-default">
    <div class="panel-heading"><span>Threads</span></div>
    <div class="panel-body">
        <table class="table">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Start Date</th>
                    <th>Replies</th>
                    <th>Views</th>
                    <th>Last Message</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="thread : ${threads}">
                    <td><span><a th:href="@{~/thread/{id}(id=${thread.id})}" th:text="${thread.title}"></a></span></td>
                    <td><span th:text="${thread.createdDate}"></span></td>
                    <td><span th:text="${thread.messagesSize}"></span></td>
                    <td><span th:text="0"></span></td>
                    <td><span th:text="Unknown"></span></td>
                </tr>
            </tbody>
        </table>

    </div>
</div>

</body>
</html>