<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<div th:fragment="panel(forum)" class="panel panel-default">
    <div class="panel-heading"><a th:text="${forum.title}" th:href="@{~/forum/{id}(id=${forum.id})}">Test forum</a></div>
    <div class="panel-body">
        <ul>
            <li th:each="f : ${forum.forums}" ><a th:href="@{~/forum/{id}(id=${f.id})}" th:text="${f.title}">Test subforum</a></li>
        </ul>
    </div>
</div>

<div th:fragment="threads(threads, forum)" class="panel panel-default">
    <div class="panel-heading"><span>Threads</span></div>
    <div class="panel-body">
        <table class="table">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Started</th>
                    <th>Replies</th>
                    <th>Views</th>
                    <th>Last Message</th>
                    <th th:if="${forum.isModerator()}"><div class="pull-right">Control</div></th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="thread : ${threads}">
                    <td>
                        <span><a th:href="@{~/thread/{id}(id=${thread.id})}" th:text="${thread.title}"></a></span>
                        <span th:if="${thread.sticky}" class="label label-warning"><i class="fa fa-thumb-tack"></i></span>
                    </td>
                    <td>
                        <span th:text="${{thread.createdDate}}"></span><br/>
                        <span th:text="${thread.createdBy}"></span>
                    </td>
                    <td><span th:text="${thread.messagesSize}"></span></td>
                    <td><span th:text="0"></span></td>
                    <td>
                        <span th:text="${{thread.lastModifiedDate}}"></span><br/>
                        <span th:text="${thread.lastModifiedBy}"></span>
                    </td>
                    <td th:if="${forum.isModerator()}">
                        <div class="pull-right">
                            <button class="btn btn-danger" th:onclick="'threadService.remove(' + ${thread.id} + ')'"><i class="fa fa-remove"></i> Remove</button>
                            <button class="btn btn-warning" th:onclick="'threadService.stick(' + ${thread.id} + ')'">
                                <i class="fa fa-thumb-tack"></i> <span th:text="${thread.sticky ? 'Unstick' : 'Stick'}"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div th:fragment="message(message)" class="panel panel-default">
    <div class="panel-heading">
        <span th:text="${message.createdBy}"></span> replied <span th:text="${{message.createdDate}}"></span>
    </div>
    <div class="panel-body">
        <div th:utext="${message.content}"></div>
    </div>
</div>

</body>
</html>