<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>

<div th:fragment="forumModerationControl(forum)">

    <button class="btn btn-primary" data-toggle="collapse" data-target="#newForum"
            th:if="${forum.isModerator()}">
        <i class="fa fa-plus"></i> New forum
    </button>

    <button class="btn btn-danger"
            th:onclick="'forumService.remove(' + ${forum.id} + ')'"
            th:if="${forum.isModerator()}">
        <i class="fa fa-remove"></i> Remove forum
    </button>

    <div th:replace="fragments/newForum :: newForum(${forum})"></div>
    <hr/>
</div>

</body>
</html>