<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title layout:title-pattern="$DECORATOR_TITLE - $CONTENT_TITLE" th:text="${@environment.getProperty('jaybb.forum.title', 'jayBB')}"></title>

    <script th:src="@{~/webjars/jquery/3.2.1/jquery.min.js}"></script>

    <script th:src="@{~/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" th:href="@{~/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{~/webjars/bootstrap/3.3.7-1/css/bootstrap-theme.min.css}" />

    <script th:src="@{~/webjars/summernote/0.8.8/dist/summernote.min.js}"></script>
    <link rel="stylesheet" th:href="@{~/webjars/summernote/0.8.8/dist/summernote.css}" />

    <link rel="stylesheet" th:href="@{~/webjars/font-awesome/4.7.0/css/font-awesome.min.css}" />

    <script th:src="@{~/threadService.js}"></script>
    <script th:src="@{~/forumService.js}"></script>
    <script th:src="@{~/userService.js}"></script>
    <script th:src="@{~/messageService.js}"></script>
    <script th:src="@{~/summernoteService.js}"></script>
</head>
<body style="padding-top: 65px">
<nav th:replace="fragments/navbar :: navbar"></nav>

<div class="container">
    <div layout:fragment="content"></div>
</div>

</body>
</html>