<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title layout:title-pattern="$DECORATOR_TITLE - $CONTENT_TITLE" th:text="${@environment.getProperty('jaybb.forum.title', 'jayBB')}"></title>

    <script src="/webjars/jquery/jquery.min.js"></script>

    <script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="webjars/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="webjars/bootstrap/css/bootstrap-theme.min.css" />
</head>
<body style="padding-top: 65px">
<nav th:replace="fragments/navbar :: navbar"></nav>

<div class="container">
    <div layout:fragment="content"></div>
</div>

</body>
</html>