<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<nav th:fragment="navbar" class="navbar navbar-default navbar-fixed-top">
    <div th:fragment="pagination(page)" class="text-center">
        <ul class="pagination">
            <li><a href="#">&laquo;</a></li>
            <li><a href="#">&lsaquo;</a></li>
            <li><a href="#">...</a></li>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">...</a></li>
            <li><a href="#">&rsaquo;</a></li>
            <li><a href="#">&raquo;</a></li>
        </ul>
    </div>
</nav>
</body>
</html>