<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<div th:fragment="userList(users)">
    <table class="table">
        <thead>
        <tr>
            <th>#</th>
            <th>Username</th>
            <th>Email</th>
            <th>Roles</th>
            <th>Control</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
            <td th:text="${user.id}"></td>
            <td th:text="${user.username}"></td>
            <td th:text="${user.email}"></td>
            <td>
                            <span class="label"
                                  th:each="role : ${user.roles}"
                                  th:text="${role}"
                                  th:classappend="${role} == 'ROLE_ADMIN' ? 'label-danger' : (${role} == 'ROLE_MODERATOR' ? 'label-warning' : 'label-success')"></span>
            </td>
            <td>
                <button class="btn btn-danger" th:onclick="'userService.remove(' + ${user.id} + ')'">
                    <i class="fa fa-remove"></i> Remove user
                </button>

                <button class="btn btn-success" th:onclick="'userService.setRole(' + ${user.id} + ', \'ROLE_USER\')'">
                    <i class="fa fa-user-plus"></i> Set regular user
                </button>

                <button class="btn btn-warning" th:onclick="'userService.setRole(' + ${user.id} + ', \'ROLE_MODERATOR\')'">
                    <i class="fa fa-user-plus"></i> Set moderator
                </button>

                <button class="btn btn-danger" th:onclick="'userService.setRole(' + ${user.id} + ', \'ROLE_ADMIN\')'">
                    <i class="fa fa-user-plus"></i> Set admin
                </button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>