<!DOCTYPE html>
<html lang="en" layout:decorator="fragments/layout" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title th:text="${forum.title}"></title>
</head>
<body>
<div layout:fragment="content">
    <div class="jumbotron">
        <h1 th:text="${forum.title}"></h1>
        <p th:text="${forum.description}"></p>
    </div>

    <div th:each="forum : ${forum.forums}">
        <div th:replace="fragments/forum :: panel(${forum})"></div>
    </div>

    <div th:replace="fragments/forum :: threads(${threads})"></div>
</div>
</body>
</html>