<!DOCTYPE html>
<html lang="en" layout:decorator="fragments/layout" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Forum</title>
</head>
<body>
<div layout:fragment="content">
    <div class="col-sm-6 col-sm-offset-3">
        <div class="panel panel-primary">
            <div class="panel-heading">Sign up</div>
            <div class="panel-body">
                <form th:action="@{~/signup}" th:object="${dto}" method="post">
                    <div class="form-group">
                        <label for="username">Username:</label>
                        <input th:field="*{username}" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="email">E-mail:</label>
                        <input type="email" th:field="*{email}" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="password">Password:</label>
                        <input type="password" th:field="*{password}" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="repeatPassword">Repeat password:</label>
                        <input type="password" th:field="*{repeatPassword}" class="form-control" />
                    </div>
                    <button class="btn btn-primary">Sign up</button>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>